// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.rating p {
	margin: 4px 0;
}

.rating.hover {
	background: #DDBBFF;
}

.rating .admin {
	display: none;
}

.rating .meta {
	display: none;
}

.rating.hover .meta {
	display: inline;
}

.rating .meta2 {
	display: inline;
}

.rating.hover .meta2 {
	display: none;
}